# Gopkg.toml example
#
# Refer to https://github.com/golang/dep/blob/master/docs/Gopkg.toml.md
# for detailed Gopkg.toml documentation.
#
# required = ["github.com/user/thing/cmd/thing"]
# ignored = ["github.com/user/project/pkgX", "bitbucket.org/user/project/pkgA/pkgY"]
#
# [[constraint]]
#   name = "github.com/user/project"
#   version = "1.0.0"
#
# [[constraint]]
#   name = "github.com/user/project2"
#   branch = "dev"
#   source = "github.com/myfork/project2"
#
# [[override]]
#   name = "github.com/x/y"
#   version = "2.4.0"
#
# [prune]
#   non-go = false
#   go-tests = true
#   unused-packages = true

# FIXME(neeraj): Hacky workaround by including "k8s.io/code-generator/cmd/client-gen"
# instead of "k8s.io/code-generator". There's bug in dep where if root of the
# required package doesn't contain Go code it won't let you require it.
# https://github.com/kubernetes/sample-controller/issues/6
required = [
  "k8s.io/code-generator/cmd/client-gen"
]

# Using version "kubernetes-1.10.0" as "kubernetes-1.9.1" is missing the
# boilerplate.txt.go file which causes some generators to fail.
# https://github.com/kubernetes/code-generator/issues/6
[[constraint]]
  name = "k8s.io/code-generator"
  branch = "release-1.10"

[[constraint]]
  name = "k8s.io/apimachinery"
  version = "kubernetes-1.10.4"

[[constraint]]
  name = "istio.io/api"
  branch = "release-1.0"

[[constraint]]
  name = "k8s.io/client-go"
  branch = "release-6.0"

[prune]
  non-go = true
  go-tests = true
  unused-packages = true

  [[prune.project]]
    name = "k8s.io/code-generator"
    unused-packages = false
    non-go = false
    go-tests = false

  [[prune.project]]
    name = "k8s.io/gengo"
    unused-packages = false
    non-go = false
    go-tests = false
